body {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold; 
    background-color: #fee994; 
}

#start {
    font-size: 25px; 
    position: relative;
    top: 30%; 
    bottom: 30%;
    left: 40%;
}

#startn2 {
    position: absolute;
    top: 50%; 
    left: 20%;
}

#end {
    font-size: 25px; 
    position: relative;
    top: 40%; 
    bottom: 40%; 
    left: 40%;
}

#endn2 {
    position: absolute;
    top: 60%; 
    left: 20%;
}

input {
    border-width: 3px; 
    border-color: black;
    height: 30px; 
    width: auto; 
    font-family: 'Source Code Pro', monospace;
}

::-webkit-input-placeholder {
    font-family: 'Source Code Pro', monospace;
}

#displaySum {
    font-size: 20px; 
    position: absolute;
    top: 70%; 
    left: 20%;
}
 h1 {
     position: relative;
     top: 10%; 
     left: 20%;
     font-size: 35px; 
 }


 #div1 {
    width: 1000px; 
    position: relative;
    top: 10%; 
    left: 20%;
    font-size: 20px; 
 }